@{ 
    decimal totalLocal = (decimal)ViewBag.totalLocal;
    decimal totalForeign = (decimal)ViewBag.totalForeign;    
}

<div class="row">
    <div class=" = " col-12">
        <label>Total local:</label>
        <b>@totalLocal</b><br />
        <label>Total extranjero:</label>
        <b>@totalForeign</b><br />        
    </div>
</div>