@using DesignPatternsInAsp.Models.Data
@model IEnumerable<Category>

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-12">
        @foreach (var category in Model)
        {
        <p>@category.CategoryName</p>
        }
    </div>
</div>
